<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <title>Fraud Detector</title>
</head>

<body>

    <nav th:replace="navbar::navbarfragment"></nav>

    <div class="container page-container">
        <form class="my-4" action="#" th:action="@{/search}" th:object="${searchcriteria}" method="get">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <select class="custom-select search-select" id="searchTypeSelect" name="searchType">
                        <option selected>Choose Search Type</option>
                        <option value="mobile">Mobile</option>
                        <option value="nid">NID</option>
                        <option value="passport">Passport</option>
                    </select>
                </div>
                <input type="text" class="form-control" placeholder="Search by" name="searchString"
                       th:value="${searchString}" />
                <div class="input-group-append">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>

        <div th:if="${accountList.size() ==1 }"class="alert alert-success" role="alert">
            <h5 class="alert-heading mb-0">One result found for given query</h5>
        </div>
        <div th:if="${accountList.size() > 1}" class="alert alert-danger" role="alert">
            <h5 class="alert-heading mb-0">More than one results Found for given query</h5>
        </div>
        <div th:if="${accountList.empty}" class="alert alert-dark" role="alert">
            <h5 class="alert-heading mb-0">No result found for given query</h5>
        </div>

        <div class="row my-4">
            <div th:each="account : ${accountList}" class="col-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 th:text="${account.name}" class="card-title"></h5>
                        <h6 th:text="${account.address}" class="card-subtitle mb-3 text-muted"></h6>
                        <div class="card-text mb-0">
                            <b>NID: </b>121455
                        </div>
                        <div class="card-text mb-0">
                            <b>Passport: </b>EB 3314545
                        </div>
                        <div class="card-text mb-0">
                            <b>Mobile: </b>0175456454
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>